@page
@model AutoNomā.Pages.Cars.ListModel

<h2>Pieejamās automašīnas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Marka</th>
            <th>Modelis</th>
            <th>Gads</th>
            <th>Cena (€/stundā)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var auto in Model.Cars)
        {
            <tr>
                <td>@auto.Marka</td>
                <td>@auto.Modelis</td>
                <td>@auto.Gads</td>
                <td>@auto.CenaParStundu €</td>
            </tr>
        }
    </tbody>
</table>
